
/*-- css code* /

/*body  css*/
body{
    margin:0px;
    padding:0px;
    background:url("../img/backpac.jpg");
}

/*container*/
.container{
    width:60%;
    margin:auto;
    background:grey;
    border:white solid 3px;
    border-radius: 3px;
    background-color:inherit;
    
}

/* --css of container head--*/
h1{
    color: #dfeae088;
    font-size: 40px;
    font-style: italic;
    transition: 0.5;
    margin-bottom: 0px;


}


/*header*/
.header{

 
    background:grey;
    border: 2px solid green;

 
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-radius: 5px;


}

ul{
    list-style-type: none;
    margin-top: 25px;
    margin-bottom: 25px;
    
    margin-left: 0px;
   
   

   }


ul li{display:inline;
 margin-left: 50px;


}
ul li a{
    text-decoration: none;
    padding:40px 23px;
    border-radius: 2px solid blue;
    color: white;
    margin-left: 10px;
    padding: 14px 25px;
    text-align: center;
    margin-left: 50px;
    font-size: 40px;
    color: bisque;
}







ul li a:active {
    color: hotpink;
    text-shadow: 20px 20px white;
} 

/*content style   */
.content{
    
    flex-direction: columns;
   
    text-align: center;
    
}
/*left content csss*/
.left{
margin:0px;
padding:0px;
border-radius: 20px;
margin-bottom:0px;
font-size:17px;
box-sizing: border-box;
}
/*image class*/
.img{
    text-align:center;
    margin-top:20px;


}
/*image background communication image logo*/
img{
    border:2px white solid;
border-radius: 20px;    
border-radius: 365px;}
.content1{
    text-align:right;
}

.left h3{ 
    text-align:center;
    color:bisque;
    font-size: 28px;


}
/*login form csss*/
.fo{
    font-size:17px;
 text-align:center;

display:flex;
align-items: flex-start;
    color: #ccff00;
    justify-content:center;

}
/*right class code */
.right{
border-left:2px white solid;
box-sizing: border-box;
background-color:inherit;


}
.right h2{
    color:bisque;
    font-size: 28px;
    text-align:center;
    background-color:inherit;
}

/*form coding*/

form{
    text-transform: uppercase;
    border-left:2px white dotted;
    text-align:center;
    line-height: 20px;
    color:#ccff00}
input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left:9px;
}



input[type=submit], input[type=button] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}







/* footer */
.footer{
text-align: center;
    color:white;
    font-size:20px;
background:black;
border-bottom: 10px solid white;
}
/* home csss finito*/
/* amigo sincero:ruhigisha;*/